.header-cell {
    display: table-cell;
    vertical-align: middle;
}


.assetInfo{
    background-color: #E3F2FD;
    color : #0D47A1;
    display : block;
    width:100%;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    
}

a{
    text-decoration: none;
}

.btn-dnd{
    font-size: 12px;
}

.customSelect{
    max-height: 180px;
    overflow-y: auto;
    padding-left: 45px;
}

.customOption{
    height : 25px;
    padding-left: 15px;
}

.customOption:hover{
    background-color: #CCCCCC;
}

.dropdown{
    background-color: rgb(244, 244, 244);
    color : rgba(0,0,0,0.54);
    font-size: 14px;
}

thead, tbody, tfoot, tr, td, th{
    border-style : outset;
}

.pagination-select{
border-bottom : none !important
}

.form-check-input{
    background-color: grey !important;
}

.form-check-input:checked{
    background-color: yellow !important;
}

.form-check-input:focus{
    box-shadow: none !important;
}

.arrow-icon {
    display: none;
}

.custom-placeholder::placeholder{
    color: rgba(0,0,0,0.54)
}

.danger-input::placeholder{
    color:rgb(221,44,0);
}


.danger-input{
    color : rgb(221,44,0) !important;
    border-color: rgb(221,44,0) !important
}

.header-cell:hover .arrow-icon {
    display: inline-block;
}

.header-cell-content {
    display: flex;
    align-items: center;
}

.table-container {
    overflow-x: auto;
}

.table {
    min-width: 700px;
}

.table {
    vertical-align: middle;
}

.btn {
    border: none;
}

.select2-dropdown {
    z-index: 9999;
}

.select2-results {
    color: black;
}

.select2-search__field{
    width : 100% !important
}

.select2-dropdown--below{
    width: 500px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-size: 12px;
    height: 30px;
}

.switch-input-lg {
    transform: scale(1.5);
}

.import-asset-card{
    box-shadow : 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)
}

.form-switch {
    padding-left: 3.5em
}

.form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-size: 12px;
    height: 30px;
}

.form-control:focus {
    box-shadow: none;
}


.form-select {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
    font-size: 12px;
    height: 30px;
}

.form-select:focus {
    box-shadow: none;
}

.userForm {
    overflow-y: auto;
    height: 80%;
}

.modal-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal-user {
    position: fixed;
    background: white;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-user-fullscreen{
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.modal-asset{
    position : relative;
    background: white;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tiny-modal-asset{
    position : relative;
    background: white;
    width: 420px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-category{
    position : relative;
    background: white;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tiny-modal-category{
    position : relative;
    background: white;
    width: 260px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-MOSP{
    position : relative;
    background: white;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen-modal-MOSP{
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.asset-import-modal{
    position : relative;
    background: white;
    width: 240px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-CSV{
    position : relative;
    background: white;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fullscreen-modal-CSV{
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.alert-delete {
    position: fixed;
    background: white;
    min-width: 40%;
    min-height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
}


.btn-asset-import{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    width: 100%;
}

.btn-asset-import:active{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

.card {
    color: black;
    background-color: white;
}

.icon-large {
    font-size: 1.3rem;
}

.primary-color {
    color: rgb(0, 111, 186)
}

.primary-backgroundcolor {
    background-color: rgb(0, 111, 186);
    color: white;
}

.btn:focus {
    border: none;
}

.danger-color {
    color: rgb(255, 87, 34)
}

a {
    color: #FFEB3B;
}

md-card a {
    color: #333333;
}

.md-toolbar-tools {
    color: white;
}

md-card .md-toolbar-tools {
    color: #333;
}

md-toolbar md-icon.material-icons {
    color: white;
}

.logo-cases-bg {
    background: url('../img/bg-cases.png') no-repeat left center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.md-white-card {
    background: white;
    color: #555555;
}

.md-main-content {
    background-color: #212121;
}

md-list-item p {
    font-weight: normal;
}

md-list-item.active,
md-list-item.active md-icon {
    color: #FFEB3B;
    /* #006FBA; */
}

md-progress-linear.green .md-container {
    background: #FBFFDA;
}

md-progress-linear.green .md-bar {
    background: #4CAF50;
}

md-progress-linear.blue .md-container {
    background: #DEF2FF;
}

md-progress-linear.orange .md-container {
    background: #FFE0B2;
}

md-progress-linear.orange .md-bar {
    background: #FFBC1C;
}

md-progress-linear.red .md-container {
    background: #FFCDD2;
}

md-progress-linear.red .md-bar {
    background: #FD661F;
}


.md-html-table td,
.md-html-table th {
    border: 1px solid #DDDDDD;
    padding: 8px;
}

.md-html-table td[disabled] {
    background: #CCCCCC;
}

.md-html-table tbody tr {
    transition: 0.25s background-color;
}

.md-html-table tbody tr:nth-child(even) {
    background-color: rgba(1, 1, 1, 0.02);
}

.md-html-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.anr-kb-mgmt md-checkbox .md-icon {
    border-color: rgba(50, 50, 50, 0.7)
}

.md-checkbox-enabled.md-default-theme:not(.md-checked) .md-icon,
.md-checkbox-enabled:not(.md-checked) .md-icon {
    border-color: #DDDDDD;
    /* rgb(0,111,186); */
}

md-sidenav.md-sidenav-left {
    font-size: 1.2em;
}

#threatsChartTypeOptions {
    margin: 95px 0 0 0;
}

#vulnerabilitiesDisplayedTab {
    margin-left: 50px;
    width: 200px;
}

#vulnerabilitiesChartTypeOptions {
    margin-top: 95px;
    margin-right: 200px;
    width: 380px;
}

#riskTab {
    width: 180px;
}

.added-button {
    color: blue;
    background: none;
    border: none;
    font-size: 12px;
    transform: translateY(-25%);
}